<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Home - SIGNORA</title>
</head>
<body>
    <div class="home-page">
        <div class="container">
            <h1 class="heading">Welcome to</h1>
            <h1 class="brand-name">SIGNORA</h1>
            <p class="tagline">Giving Voice To Silent Expressions</p>

            <button class="btn" onclick="location.href='{% url 'translator:translate' %}'">TRANSLATE</button>
            <button class="btn logout-btn" onclick="location.href='{% url 'translator:logout' %}'">LOGOUT</button>
        </div>
    </div>
</body>
</html>
